$bg: #282A36;
$fg: #F8F8F2;
$cl: #44475A;
$comment: #6272A4;
$cyan: #8BE9FD;
$green: #50FA7B;
$orange: #FFB86C;
$purple: #BD93F9;
$red: #FF5555;
$yellow: #F1FA8C;

@font-face {
  font-family: 'Symbols Only';
  src: url("/assets/fonts/Symbols.ttf");
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 24px;
  font-family: 'Symbols Only', 'Courier New', Courier, monospace;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Structured elements

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  background-color: $bg;
  color: $fg;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

header {
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.header__previewBox {
  width: 100%;
  height: 30vh;
  background-color: $orange;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
}

.header__nav {
  width: 100%;
  padding: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  border: solid 2px $comment;
  border-radius: 18px;
}

.header__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__labelModal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  // justify-content: center;
  backdrop-filter: blur(10px);
}

.header__labelTyped {
  margin-left: 10%;
  color: $orange;
  font-size: 1.5em;
  font-weight: bold;
}

main {
  display: flex;
  flex-grow: 1;
  padding: 0.5em;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.footer__label {
  font-size: 0.9em;
  color: $comment;
}
  
// General elements

hr {
    width: 100%;
    color: $comment;
}

a {
  color: $comment;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

a:active {
  opacity: 0.5;
}
